@import "variables";

.job-card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 4rem;
  background-color: white;
  border-radius: 6px;
  position: relative;
  padding: 40px 1.5rem 0.8rem;
  box-shadow: 9px 9px 30px -16px rgba(91, 164, 164, 1);

  &__details {
    img {
      position: absolute;
      top: 0;
      left: 1.5rem;
      transform: translateY(-50%);
      object-fit: contain;
      width: 50px;
    }
    .details {
      padding-bottom: 0.8rem;
      border-bottom: 2px solid #e8e8e8;
      .top {
        font-weight: 700;
        padding-bottom: 0.5rem;
        .name {
          color: $DesaturatedDarkCyan;
          font-size: 0.8rem;
          margin-right: 0.6rem;
        }
        .new {
          color: white;
          background-color: $DesaturatedDarkCyan;
          border-radius: 100px;
          padding: 0.3rem 0.4rem;
          font-size: 0.62rem;
          text-transform: uppercase;
          margin-right: 0.3rem;
        }
        .featured {
          font-size: 0.62rem;
          text-transform: uppercase;
          color: white;
          background-color: $VeryDarkGrayishCyan;
          border-radius: 100px;
          padding: 0.3rem 0.4rem;
          margin-bottom: -20px;
        }
      }
      .role {
        font-size: 15px;
        font-weight: 700;
        color: $VeryDarkGrayishCyan;
        margin: 0.4rem 0;
      }
      .bottom {
        display: flex;
        align-items: center;
        color: #c5c5c5;
        font-size: 0.8rem;
        font-weight: 400;
        margin-top: 0.8rem;
        span {
          transform: translateY(-4px);
          margin: 0 0.3rem;
        }
      }
    }
  }
  &__tags {
    padding-top: 0.8rem;
    display: flex;
    flex-wrap: wrap;
  }
}
.job-card.featured {
  border-left: 4px solid $DesaturatedDarkCyan;
}

@media screen and (min-width: 1000px) {
  .job-card {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    margin-bottom: 2rem;

    &__details {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        position: initial;
        padding: 0;
        transform: translateY(0);
        width: 65px;
        margin-right: 1rem;
      }
      .details {
        border: none;
        padding: 0;
        .top {
          .name {
            font-size: 0.8rem;
            margin-right: 0.6rem;
          }
        }
        .role {
          font-size: 17px;
          margin: 0.3rem 0;
        }
        .bottom {
          margin-top: 0.4rem;
        }
      }
    }
  }
}
